<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>new user form</h1>
    <form action="/users/new" method="POST">
      <input type="text" placeholder="enter name" name="title" />
      <input type="text" placeholder="enter description" name="description" />
      <input type="text" placeholder="enter author" name="author" />
      <input type="number" placeholder="enter likes" name="likes" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
