<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="flex jsb container">
        <a class="btn btn-pri" href="/articles/">List of Articles</a>
        <h1>Blog</h1>
        <a class="btn btn-pri" href="/articles/new">Add new Article</a>
      </div>
    </header>
    <main>
      <section class="hero-sec">
        <h2>Edit Comment</h2>
      </section>
      <section class="newArticle-sec sec-padding container">
        <div>
          <form action="/comments/<%= comment.id %>/edit" method="POST">
            <input
              type="text"
              placeholder="Enter Title"
              name="title"
              value="<%= comment.content  %> "
            />
            <input
              type="number"
              placeholder="Enter Likes"
              name="likes"
              value="<%= comment.likes  %> "
            />

            <a href="#"
              ><button class="btn btn-sec" type="submit">Submit</button></a
            >
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
